{% extends "layout.html" %}
{% block content %}

    {% for title in titles %}
    <p>
    <div class="card text-center mx-auto mb-3" style="max-width: 50rem;">
      <div class="card-header">
        Hashtags here
      </div>
      <div class="card-body mx-auto mb-3" style="max-width: 50rem;">
        <h5 class="card-title">{{ title.title }}</h5>
        <p class="card-text">First comment here</p>
        <a href="/topic/{{ title.id }}" class="btn btn-primary">Read</a>
      </div>
      <div class="card text-center text-muted">
        <div class="card-footer">
        add timestamps here / likes
      </div>
    </div>
    </div>
    <p>
    
    {% endfor %}
    
  </body>
</html>{% endblock %}