{% extends "layout.html" %}
{% block content %}

{% if session.user_id %}
<div class="alert alert-danger" role="alert">
    Error: {{ session.user_name }} already logged in
</div>
<p>
Back to <a href="/">homepage</a>
{% else %}
<h2 class="text-center">Login to use forum</h2>
<form action="/login" method="POST">
    <div class="text-center">
    <p>
    Username: <br><input type="text" name="Username">
    <p> 
    Password:<br><input type="password" name="Password">
    <p>
    <input type="submit" value="Login">
</form>
</div>

{% endif %}


{% endblock %}