{% extends "layout.html" %}
{% block content %}

{% if session.user_id %}
<div class="alert alert-danger" role="alert">
    Error: {{ session.user_name }} already logged in
</div>
<p>
Back to <a href="/">homepage</a>

{% else %}


<h2 class="text-center"> Register </h2>
<form action="/register" method="post">
<div class="text-center">
<p>
Username: <br><input type="text" name="username" minlength="1" maxlength="14">
<p>
Password: <br><input type="password" name="password1"> 
<p>
Password again: <br><input type="password" name="password2"> 
<p>
<input type="submit" value="Register"> 
</form>

</div>
{% endif %}

{% endblock %}

